<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <h1>Template Node.js MVC webapp</h1>
        <h3>Olá, {{pessoa.nome}}</h3>
        <img src="img/nodejs.png" alt="logo node.js">
    </div>

</body>

</html>